@layer base {
    body {
        @apply text-black dark:text-white
    }

    h1 { @apply text-2xl font-semibold }

    .main-container { @apply p-10 container }

    .text-muted { @apply text-gray-500 }

    .table-default { @apply table-fixed w-full }
    .table-default tr { @apply border-slate-300 border-b }
    .table-default tr.link  { @apply hover:bg-gray-200 cursor-pointer relative }
    .table-default a.link  { @apply after:absolute after:inset-0 }
    .table-default td { @apply p-2 }
    .table-default .cell-header { @apply font-semibold }
    .table-default thead td { @apply font-semibold }

    .button {
        @apply
        px-4 py-2
        bg-gray-800 dark:bg-gray-200
        border border-transparent rounded-md
        font-semibold text-xs
        text-white dark:text-gray-800
        hover:bg-gray-700 dark:hover:bg-white
        focus:bg-gray-700 dark:focus:bg-white
        active:bg-gray-900 dark:active:bg-gray-300
        focus:outline-none
        focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800
        transition ease-in-out duration-150
    }
}
